<%- include('partials/head', {styles : ['error']}) %>
<body>
    <div class="container-err">
        <h2>La contraseña ingresada es incorrecta</h2>
        <img src="/images/error.jpg" alt="imagen-de-error">
        <h3>Intente nuevamente</h3>
        <a href="/users/login"><button>Iniciar sesión ahora</button></a>
    </div>
</body>
</html>