<%- include('partials/head', {styles : ['error']}) %>
<body>
    <div class="container-err">
        <h2>Disculpe, usted no está logueado</h2>
        <img src="/images/accesos.jpg" alt="imagen de acceso">
        <h3>Intente nuevamente</h3>
        <a href="/users/register"><button>Registrarse</button></a>
    </div>
</body>
</html>