<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus compras</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/images/Icono.ico">
    <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesINDEX.css">
    <link rel="stylesheet" href="/css/styles/productCart">
</head>

<body>
    <header>
        <nav>
            <div class = "infonav">
                <p>Envío gratis desde $15.000 - Promociones con todos los bancos! <a href="#">Más información acá</a></p>
            </div>
            <div class="navbar">
                <div class="logo-btn">
                    <img src="images/Logo-verde.png" alt="Logo">
                </div>
                <div class="container">
                    <div class="search-bar">
                        <input type="text" placeholder="Buscá tu producto favorito">
                        <button type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="/register"><i class="far fa-id-card"></i>
                            <span class="hidden-text">Registrate</span></a></li>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i>
                            <span class="hidden-text">Ingresá</span></a></li>
                        <li><a href="#"><i class="fas fa-shopping-basket"></i>
                            <span class="hidden-text">Mis compras</span></a></li>
                    </ul>
                </div>
            </div>
            <div>
                <ul class="nav-list">
                    <li><a href="#">Interior <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="#">Exterior <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="#">Macetas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="#">Insumos <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="#">Herramientas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="#">Semillas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="#">Suculentas <i class="fas fa-caret-down"></i></a></li>
                </ul>
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>    
        </nav>
        <section class="banner"> <!--son 3 imagenes deslizables-->
            <img src="/images/Banner-promo1.png" alt="Banner de ofertas">
        </section>
    </header>
    <main>
        
            <section class="outstanding">
                
                <div class="products">
                    <h3>Exterior</h3>
                    <article>
                        <img src="/images/Exterior/PE-Alegria_del_Hogar.png" alt="Alegria" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Alegría del hogar</h4>
                            <p class="price">Desde $600 <i class="fas fa-cart-plus"></i></p>
                            <button>comprar</button>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Exterior/PE-Aliso.png" alt="Aliso" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Alegría del hogar</h4>
                            <p class="price">Desde $600 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Exterior/PE-Azalea.png" alt="Azalea" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Alegría del hogar</h4>
                            <p class="price">Desde $600 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Exterior/PE-Cipres_Lemon.png" alt="Cipres_Lemo" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Azalea </h4>
                            <p class="price">$4.500 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Exterior/PE-Kalanchoe.png" alt="Kalanchoe" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Alegría del hogar</h4>
                            <p class="price">Desde $600 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Exterior/PE-Lazo_de_Amor.png" alt="Lazo_de_Amor" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Alegría del hogar</h4>
                            <p class="price">Desde $600 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Exterior/PE-Primavera.png" alt="Primavera" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Alegría del hogar</h4>
                            <p class="price">Desde $600 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Exterior/PE-Primula_Obconica.png" alt="Primula_Obconica" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Alegría del hogar</h4>
                            <p class="price">Desde $600 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <h3>Interior</h3>
                    <article>
                        <img src="/images/Interior/PI-Calathea_Macoyana.png" alt="Calathea_Macoyana" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Calathea Macoyana</h4>
                            <p class="price">$6.300 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                </div>
            </section>
        
    </main>
    <footer>
        <section>
            <h5>Regalá una giftcard! <a href="#"><i class="fas fa-gift fa-lg"></i></a></h5>
        </section>
        <section>
            <h5>Contactate con nosotros <a href="#"><i class="fas fa-envelope fa-lg"></i></a></h5>
        </section>
        <section>
            <h5>Asesoramiento sin cargo <a href="#"><i class="fas fa-toolbox fa-lg"></i></a></h5>
        </section>   
    </footer>
    <div class = "info">
        <p>Copyright ©2023 Jardín Secreto. Todos los derechos reservados</p>
    </div>
    <script src="script.js"></script> <!--Prueba de linkeo para la carpeta de funciones scrip -Fran -->
</body>
</html>
