<%- include('partials/head', {styles : ['productCreate']}) %>
<body>
    <div class="logo-btn">
        <img src="/images/Logo-verde.png" alt="Logo">
    </div>
    <div class="wrapper">
        <form action="/products/create" method="POST" enctype="multipart/form-data">
            <h1>Agregar productos</h1>
            <div class="input-box">
                <input type="text" id="name" name="name" placeholder="Nombre del producto">
            </div>
            <div class="input-box">
                <textarea name="description" id="description">Descripción del producto</textarea>
            </div>
            <div class="input-box">
                <input for="price" type="text" id="price" name="price" placeholder="Precio del producto">
            </div>
            <div class="input-box">
                <input for="discount" type="text" id="discount" name="discount" placeholder="Descuento a aplicar">
            </div>
            <div class="input-box">
                <label class="copy">Seleccione categoria:</label>
                    <select name="category" id="category">
                        <option value="">Elegí</option>
                        <option value="semillas">Semillas</option>
                        <option value="insumos">Insumos</option>
                        <option value="macetas">Macetas</option>
                        <option value="herramientas">Herramientas</option>
                        <option value="suculentas">Suculentas</option>
                        <option value="interior">Interior</option>
                        <option value="exterior">Exterior</option>
                    </select>
            </div>
            <div class="input-box">
                <p class="copy">Foto del producto</p>
                <input for="image" type="file" id="image" name="image" accept="image/*">
            </div>
            <div class="input-box">
                <input for="sale" type="text" id="sale" name="sale" placeholder="Está en oferta?">
            </div>
            <button type="submit" class="btn">Guardar producto nuevo</button>
        </form>
    </div>
</body>
</html>
