<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Jardin secreto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class = "info">
                <p>Envío gratis desde $15.000 - Promociones con todos los bancos! + info acá</p>
            </div>
            <div class="navbar">
                <div class="logo-btn">
                    <img src="images/Logo-verde.png" alt="Logo">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscá tu producto favorito</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <div>
                    <li type="none"><a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
                    <li type="none"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li type="none"><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </div>
            </div>
            <div>
                <ul class="nav-list">
                    <li><a  href="/product-cart">Interior <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/product-cart">Exterior <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/product-cart">Macetas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/product-cart">Insumos <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/product-cart">Herramientas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/product-cart">Semillas <i class="fas fa-caret-down"></i></a></li>
                    <li><a href="/product-cart">Suculentas <i class="fas fa-caret-down"></i></a></li>
                </ul>
                <button class="menu-btn">&#9776;</button> 
            </div>    
        </nav>
        <section class="banner"> <!--son 3 imagenes deslizables-->
            <img src="/images/Banner-promo1.png" alt="Banner de ofertas">
        </section>
    </header>
    <main>
        
            <section class="outstanding">
                <h3>Destacados del mes</h3>
                <div class="products">
                    <article>
                        <img src="/images/Exterior/PE-Alegria_del_Hogar.png" alt="Alegria" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Alegría del hogar</h4>
                            <p class="price">Desde $600 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Exterior/PE-Azalea.png" alt="Azalea" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Azalea </h4>
                            <p class="price">$4.500 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                    <article>
                        <img src="/images/Interior/PI-Calathea_Macoyana.png" alt="Calathea" class="product_img">
                        <div class="main-article">
                            <h4 class="description">Calathea Macoyana</h4>
                            <p class="price">$6.300 <i class="fas fa-cart-plus"></i></p>
                        </div>
                    </article>
                </div>
            </section>
        
    </main>
    <footer>
        <section>
            <h5>Regalá una giftcard! <a href="#"><i class="fas fa-gift fa-lg"></i></a></h5>
        </section>
        <section>
            <h5>Contactate con nosotros <a href="#"><i class="fas fa-envelope fa-lg"></i></a></h5>
        </section>
        <section>
            <h5>Asesoramiento sin cargo <a href="#"><i class="fas fa-toolbox fa-lg"></i></a></h5>
        </section>   
    </footer>
    <div class = "info">
        <p>Copyright ©2023 Jardín Secreto. Todos los derechos reservados</p>
    </div>
    <script src="script.js"></script> <!--Prueba de linkeo para la carpeta de funciones scrip -Fran -->
</body>
</html>