<%- include('partials/head', {styles : ['styleProduct-detail']}) %>
<body>
    <%- include('partials/header') %>
    <main>
        <section class="product">
            <img class="product-img" src="/images/Exterior/PE-Azalea.png" alt="Azalea">
            <div class="product-info">
                <h2>Azalea</h2>
                <h3>$4500</h3>
                <p>Aceptamos todos los medios de pago</p>
                <div class="payment-methods">

                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="far fa-money-bill-alt"></i>
                </div>
                <div class="location">
                    <h4>Nos ubicamos en:</h4>
                    <p><i class="fas fa-map-marker-alt"></i> 25 de mayo 1145</p>
                </div>
                <div class="description">
                    <h4>Descripción</h4>
                    <p>La azalea es una de las plantas más utilizadas en jardinería por la belleza de sus flores.
                         Sin embargo también es una de las especies más exigentes. Las azaleas crecen como arbustos y tienen una floración muy abundante en toda la planta. 
                        Sus flores son grandes y tienen colores variados, frecuentemente en tonos rojos, rosas y blancos.
                         Por ello son muy usadas como plantas ornamentales.</p>
                </div>
                <div>
                    <img class="product-imgSmall" src="/images/Exterior/PE-Azalea.png" alt="Alegria">
                    <img class="product-imgSmall" src="/images/Exterior/PE-Azalea.png" alt="Alegria">
                    <img class="product-imgSmall" src="/images/Exterior/PE-Azalea.png" alt="Alegria">
                </div>
                <button class="button-trolley"><i class="fas fa-plus"></i></i>Añadir al carrito</button>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>