<%- include('partials/head', {styles : ['stylesLogin']}) %>
<body>
    <div class="logo-btn">
        <img src="/images/Logo-verde.png" alt="Logo">
    </div>
    <div class="wrapper">
        <form action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="post">
            <h1>Modicar productos</h1>
            <div class="input-box">
                <input type="text" name="product-name" placeholder="Nombre del producto">
            </div>
            <div class="input-box">
                <label for="description">Descripcion del producto:</label>
        <textarea name="description" id="description">Descripción</textarea>
            </div>
            <div class="input-box">
                <input for="price" type="text" name="price" placeholder="Precio del producto">
            </div>
            <div class="input-box">
                <input for="discount" type="text" name="discount" placeholder="Descuento a aplicar">
            </div>
            <div class="input-box">
                <label class="copy">Seleccione categoria:</label>
                    <select name="category">
                        <option value="semillas">Semillas</option>
                        <option value="insumos">Insumos</option>
                        <option value="macetas">Macetas</option>
                        <option value="herramientas">Herramientas</option>
                        <option value="suculentas">Suculentas</option>
                        <option value="interior">Interior</option>
                        <option value="exterior">Exterior</option>
                    </select>
            </div>
            <div class="input-box">
                <p class="copy">Foto del producto</p>
                <input for="image" type="file" name="image" accept="image/*">
            </div>
            <button type="submit" class="btn">Guardar producto nuevo</button>
        </form>
    </div>
</body>
</html>
