<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a Jardin Secreto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="images/Logo-verde.png" alt="El Jardin Secreto">
            </div>
           
            <p>¡Registrate!</p>
        </div>
     
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main class="register">
        <form action="/register" method="POST">
            <input type="text" name="name" placeholder="Nombre y apellido">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="email" name="email" placeholder="E-mail">
            <br>
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <br>
            <input type="date" name="birth_date" id="birth_date">
            <br>
            <div class="register">
                <label class="Pais">Pais</label>
                <select name="register">
                    <option value="buy"></option>
                    <option value="buy">Argentina</option>
                    <option value="sell">Brazil</option>
                    <option value="buy">Uruguay</option> 
                    <option value="sell">Paraguay</option>
                 
                </select>
            </div>
            <br>
            <div class="profile">
                <label class="Provincia">Provincia</label>
                <select name="profile">
                    <option value="buy"></option>
                    <option value="buy">Santa Fe</option>
                    <option value="sell">Cordoba</option>
                    <option value="buy">La Rioja</option> 
                    <option value="sell">Catamarca</option>
                    <option value="buy">Jujuy</option>
                </select>
            </div>
            <br>
            <br>
                <div class="profile">
                <label class="Ciudad">Ciudad</label>
                <select name="profile">
                    <option value="buy"></option>
                    <option value="buy">Rafaela</option>
                    <option value="sell">Ceres</option>
                    <option value="buy">Susana</option> 
                    <option value="sell">Sunchales</option>
                    <option value="buy">Maria Juana</option>
                </select>
            </div>
            <br>
            <div class="profile">
                <label class="Ciudad">Genero</label>
                <select name="profile">
                    <option value="buy"></option>
                    <option value="buy">Masculino</option>
                    <option value="sell">Femenino</option>
                    <option value="buy">Binario</option> 
                    <option value="sell">No Binario</option>
                    <option value="buy">Otro</option>
                </select>
            </div>
            <br>


            <h4>Intereses</h4>
            <div class="interests">
                <div>
                    <input type="checkbox" name="interests" value="a" id="a">
                    <label for="a">Plantas</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="b" id="b">
                    <label for="b">Suculentas</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="c" id="c">
                    <label for="c">Semillas</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="d" id="d">
                    <label for="d">Herramientas</label>
                </div>
               
            </div>

            <h4>Elegí tu foto de usuario</h4>
            <input type="file" name="avatar">
            <br>
            <br>
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
            <br>
            <div>
                <input type="checkbox" name="interests" value="d" id="d">
                <label for="d">Acepto los terminos y condiciones de El Jardin Secreto</label>
            </div>
           

            <br>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
            <br>
            <br>
        </form>
    </main>
    <footer>
    </footer>
</body>

</html>


