* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #CEDEBD;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.wrapper-reg {
    width: 90%;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #435334;
    border-radius: 10px;
    padding: 30px 20px; 
    display: flex;
    flex-direction: column;
}


.wrapper-reg h1 {
    font-size: 24px;
    color: #435334;
    text-align: center;
}


.wrapper-reg .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0; 
}
.wrapper-reg .interests,
.wrapper-reg .user-file{
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #FAF1E4;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    font-size: 16px;
    color:#435334 
}

.btn-gender{
    background:#FAF1E4 ;
    color: #435334;
    height:25px;
    margin: inherit;
}

.wrapper-reg .btn {
    width: 100%;
    height: 45px;
    background: #9EB384; 
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    margin-top: 20px;
}


@media (min-width: 768px) {
    .wrapper-reg{
        display: flex;
        flex-wrap: wrap;
    }

    .input-box input{
        display: flex;
        width: 30%;
    }

    .wrapper-reg .register-link {
        font-size: 14.5px;
        color: #435334;
        margin-top: 15px;
    }

    
    
    .register-link p a {
        color: green;
        text-decoration: none;
        font-weight: 600;
    }
    
    .register-link p a:hover {
        text-decoration: underline;
    }
}