main.cart{
    background-color: #FAF1E4;
}

.copy-cart{
    background-color: #9EB384;
    color: #FAF1E4;
    border-radius: 10px;
    width: auto;
    padding: 20px;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}