main {
  width: 100%;
  background-color: #FAF1E4;
}

.product {
  display: flex;
  align-items: center;
  margin-left: 20px;
  flex-direction: column;
}

.product-img {
  background-color: #FAF1E4;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10%;
  width: 40%;
}

.product-info {
  margin-left: 30px;
}

div.product-info h3 {
  font-size: 25px;
  background-color: #FAF1E4;
  width: max-content;
  color: rgb(158, 179, 132);

}

.product-info h2 {
  margin-top: 30px;
}

section div.payment-methods i {
  font-size: 30px;
}

.description,
.location,
.payment-methods {
  width: 100%;
}

.button-trolley {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

a.action-button.edit{
  list-style-type: none;
  text-decoration: none;
  color: white;
}


.product-imgSmall {
  width: 30%;
  margin-bottom: 20px;
  margin-top: 15px;
  border-radius: 50%;
  background-color: #FAF1E4;
}


@media (min-width: 768px) {

  .product {
    flex-direction: row;
  }

  .description,
  .location,
  .payment-methods {
    width: 50%;
    margin-top: 15px;
  }

  .button-trolley {
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-trolley:hover {
    background-color: #45A049;
  }


  .product-imgSmall {
    cursor: pointer;
  }

  .product-imgSmall:hover {
    background-color: bisque;
    border-radius: 50%;
  }

  .product-gallery {
    width: 50%;
  }


}